Source: openbve-data-icons
Section: games
Priority: optional
Maintainer: Paul Sladen <ubuntu@paul.sladen.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Homepage: http://www.paul.sladen.org/openbve/artwork/

Package: openbve-data-icons
Architecture: all
Depends: openbve-data
Enhances: openbve-data
Description: Extra 16x16 icons
 Origially OpenBVE used some tempoary icons borrowed from
 other projects.  These from-scratch public domain icons
 replace the missing gaps.
 
