#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

PNG_ICONS = icon_parent icon_folder icon_file icon_train \
  icon_joypad icon_joystick icon_keyboard icon_mouse joystick

TARGET=$(CURDIR)/debian/openbve-data-icons

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp  
	dh_testdir
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs

	# Only copy a subset of the icons needed to fill in the gaps
	for png_icon in $(PNG_ICONS); do \
	  cp -p $(CURDIR)/Interface/$$png_icon.png $(TARGET)/usr/lib/openbve/Interface/ ; \
	done
	cp -p $(CURDIR)/debian/openbve-data-icons.lintian $(TARGET)/usr/share/lintian/overrides/openbve-data-icons

# Build architecture-independent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_install
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install configure
